.nav li
* { 
    margin: 0;
    padding: o;
    box-sizing: border-box;
}
    body { background-color:#018655;
    text-align: center;}
    main {background-color:aliceblue; text-decoration-color: antiquewhite;}


